body {
    margin-top: 30px;
}

button{
    background:rosybrown;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:2em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    font-family: 'Jua', sans-serif;
    border-radius: 500px;

  }
  button:hover{
    background:#fff;
    color: rosybrown;
  }

#alist {
    background-color: beige;
    display: flex;
    height: 60%;
    width: 80%;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px black solid;
    text-align: center;
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
}

#title {
    color: rosybrown;
}

#context {
    color: black;
}

#date {
    color: gray;
}

#button {
}