{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type = "text/css" rel="stylesheet" href="{% static 'css\style.css' %}">
</head>


<body>
    <div id = "alist">
        <center> <button type='button' onclick = 'location.href="{% url "create" %}"'>  새 글 쓰기</button>  </center>
    
        {% for obj in posts.all%} 
        {% comment %} post의 모든 객체를 for문으로 돌려서 표시, 모든 객체를 순회하여 내용 표시 {% endcomment %}
            <h1> 제목 : {{ obj.title }}</h1> 
            {% comment %} obj는 암거나 써도 됨 불러주려고 별명 지은거니까! {% endcomment %}
            <p> 내용 : {{ obj.body }}</p>
            <p> {{obj.body}}</p>
            <p> 올린날짜 : {{ obj.date }}</p>
            <a href ="{% url 'detail' obj.pk %}"> 자세히 보기 </a>
            {% endfor %}    
    </div>
    <br><br><br>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/PQOJJ037ys8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>